In [0]:
import pandas as pd
import numpy as np

import seaborn as sns

from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
titan_df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Project2/SaleForceData.csv")

In [19]:
titan_df.head(5)

   SALESPERSON  Old_Scheme  New_Scheme
0            1       57000       62000
1            2      103000      122000
2            3       59000       54000
3            4       75000       82000
4            5       84000       84000

In [5]:
# 1. Find the mean of old scheme and new scheme column
print('Mean of Old Scheme', titan_df.Old_Scheme.mean())
print('Mean of New Scheme', titan_df.New_Scheme.mean())

Mean of Old Scheme 68033.33333333333
Mean of New Scheme 72033.33333333333

In [0]:
from scipy.stats import ttest_ind,ttest_rel

In [0]:
# 2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

# Alternate Hypthosis: The sale figure has improved
# Null Hypthosis: The same figure has not improved

In [20]:
stat, p = ttest_ind(titan_df.Old_Scheme, titan_df.New_Scheme)
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=-0.694, p=0.491

In [0]:
# 3. What conclusion does the test (p-value) lead to?
# Since p value is greater than .05, so null hypothesis is accepted. That means that new scheme doesn't have incresed sales figure

In [0]:
# Created a new Data frame having new scheme data
titan_df['New_New_Scheme']=titan_df['New_Scheme'].add(5000)

In [24]:
titan_df.head(5)

   SALESPERSON  Old_Scheme  New_Scheme  New_New_Scheme
0            1       57000       62000           67000
1            2      103000      122000          127000
2            3       59000       54000           59000
3            4       75000       82000           87000
4            5       84000       84000           89000

In [0]:
# 4.a) The probability of a type 1 error?
# Probability of Type 1 Error is 5% as per industry standards

In [25]:
# 4.b) What is the p- value of the hypothesis test if we test for a difference of $5000?
stat2, p2 = ttest_ind(titan_df['New_Scheme'], titan_df['New_New_Scheme'])
print('New Value of Statistics=%.3f, p=%.3f' % (stat2, p2))

New Value of Statistics=-0.805, p=0.424

In [0]:
# Again the p value is greater than .05, so accepting the null hyphothesis that is even after increasing the sales break even will not be achieved.

In [0]:
# 4.c) Power of the test
# Power of test is probability of surely rejecting null hypothesis that is 1-Beta(Type 2 Error)

In [0]:
from statsmodels.stats.power import ttest_power

In [0]:
for col in titan_df.columns:
  colN=col + '_Zscore'
  titan_df[colN]=(titan_df[col]-titan_df[col].mean())/titan_df[col].std(ddof=0)

In [31]:
zStatistics = (titan_df.New_Scheme[0]-titan_df.New_Scheme.mean())/np.std(titan_df['New_Scheme'])
# Power of test for first sample value
ttest_power(zStatistics,nobs=len(np.array(titan_df['New_Scheme']))-1,alpha=0.05,alternative='larger')

5.3226626741675886e-05

In [33]:
titan_df.head()

   SALESPERSON  Old_Scheme  ...  New_Scheme_Zscore  New_New_Scheme_Zscore
0            1       57000  ...          -0.424100              -0.424100
1            2      103000  ...           2.112045               2.112045
2            3       59000  ...          -0.762252              -0.762252
3            4       75000  ...           0.421282               0.421282
4            5       84000  ...           0.505820               0.505820

[5 rows x 8 columns]