In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np

In [3]:
laliga=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Project1/Laliga.csv')
laliga.head(10)

   Pos             Team  Seasons  ...    Debut Since/LastApp BestPosition
0    1      Real Madrid       86  ...     1929          1929            1
1    2        Barcelona       86  ...     1929          1929            1
2    3  Atletico Madrid       80  ...     1929       2002-03            1
3    4         Valencia       82  ...  1931-32       1987-88            1
4    5  Athletic Bilbao       86  ...     1929          1929            1
5    6          Sevilla       73  ...  1934-35       2001-02            1
6    7         Espanyol       82  ...     1929       1994-95            3
7    8    Real Sociedad       70  ...     1929       2010-11            1
8    9         Zaragoza       58  ...  1939-40       2012-13            2
9   10       Real Betis       51  ...  1932-33       2015-16            1

[10 rows x 20 columns]

In [4]:
# All the dash has been replaced with 0 to carry out arithematic operations
laliga=laliga.replace('-', 0);
laliga.head(2)

   Pos         Team  Seasons Points  ...   T Debut Since/LastApp BestPosition
0    1  Real Madrid       86   4385  ...  79  1929          1929            1
1    2    Barcelona       86   4262  ...  83  1929          1929            1

[2 rows x 20 columns]

In [0]:
# Since debut column has year range as well, so the starting year has been picked and can be used now for further operations
laliga.Debut=laliga['Debut'].str.split('-').str[0]

In [9]:
# Converting the Debut column to numeric to perform arithmetic operation
laliga['Debut'] = pd.to_numeric(laliga['Debut'])

# Printing all the rows for which year range is 1930 to 1980 , both the years including
laliga[(laliga['Debut']>=1930) & (laliga['Debut']<=1980)]

    Pos                 Team  Seasons  ...  Debut Since/LastApp BestPosition
3     4             Valencia       82  ...   1931       1987-88            1
5     6              Sevilla       73  ...   1934       2001-02            1
8     9             Zaragoza       58  ...   1939       2012-13            2
9    10           Real Betis       51  ...   1932       2015-16            1
10   11  Deportivo La Coruna       45  ...   1941       2014-15            1
11   12           Celta Vigo       51  ...   1939       2012-13            4
12   13           Valladolid       42  ...   1948       2013-14            4
14   15       Sporting Gijon       43  ...   1944       2015-16            2
15   16              Osasuna       37  ...   1935       2016-17            4
16   17               Malaga       36  ...   1949       2008-09            4
17   18               Oviedo       38  ...   1933       2000-01            3
18   19             Mallorca       27  ...   1960       2012-13            3
19   20           Las Palmas       33  ...   1951       2015-16            2
21   22              Granada       23  ...   1941       2016-17            6
22   23       Rayo Vallecano       17  ...   1977       2015-16            8
23   24                Elche       21  ...   1959       2014-15            5
25   26             Hercules       20  ...   1935       2010-11            5
26   27             Tenerife       13  ...   1961       2009-10            5
27   28               Murcia       18  ...   1940       2007-08           11
28   29               Alaves       12  ...   1930       2016-17            6
29   30              Levante       11  ...   1963       2015-16            6
30   31            Salamanca       12  ...   1974       1998-99            7
31   32             Sabadell       14  ...   1943       1987-88            4
32   33                Cadiz       12  ...   1977       2005-06           12
34   35            Castellon       11  ...   1941       1990-91            4
37   38              Cordoba        9  ...   1962       2014-15            5
39   40           Recreativo        5  ...   1978       2008-09            8
40   41            Burgos CF        6  ...   1971       1979-80           12
41   42           Pontevedra        6  ...   1963       1969-70            7
46   47            Gimnastic        4  ...   1947       2006-07            7
49   50             Alcoyano        4  ...   1945       1950-51           10
50   51                 Jaen        3  ...   1953       1957-58           14
52   53           AD Almeria        2  ...   1979       1980-81           10
54   55               Lleida        2  ...   1950       1993-94           16
57   58               Condal        1  ...   1956       1956-57           16
58   59      Atletico Tetuan        1  ...   1951       1951-52           16
59   60     Cultural Leonesa        1  ...   1955       1955-56           15

[37 rows x 20 columns]

In [10]:
# Converting the data type of Points column from Object to Integer to perform nlargest as nlargest doesn't work on object dtypes
laliga['Points'] = pd.to_numeric(laliga['Points'])
# Display all the rows
print(laliga.nlargest(5, ['Points']))

#Display the list of teams
print(laliga.nlargest(5, ['Points']).Team)

   Pos             Team  Seasons  Points  ...   T Debut Since/LastApp BestPosition
0    1      Real Madrid       86    4385  ...  79  1929          1929            1
1    2        Barcelona       86    4262  ...  83  1929          1929            1
2    3  Atletico Madrid       80    3442  ...  56  1929       2002-03            1
3    4         Valencia       82    3386  ...  50  1931       1987-88            1
4    5  Athletic Bilbao       86    3368  ...  49  1929          1929            1

[5 rows x 20 columns]
0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [0]:
def Goal_diff_count(laliga):
  laliga['Diff']=laliga['GoalsFor']-laliga['GoalsAgainst']
  return laliga

In [0]:
# Converting the data type of GoalsFor and GoalsAgainst column from Object to Integer to perform arithmetic operations
laliga['GoalsFor'] = pd.to_numeric(laliga['GoalsFor'])
laliga['GoalsAgainst'] = pd.to_numeric(laliga['GoalsAgainst'])
laliga = Goal_diff_count(laliga)

In [13]:
# I couldn't understand how we use the same function to get the max and min differences.
# However, I have update the diff column in the main df

# Team having maximum difference in goals
laliga[laliga['Diff']==laliga.Diff.max()]

   Pos         Team  Seasons  Points  ... Debut Since/LastApp BestPosition  Diff
0    1  Real Madrid       86    4385  ...  1929          1929            1  2807

[1 rows x 21 columns]

In [14]:
# Team having minimum difference in goals
laliga[laliga['Diff']==laliga.Diff.min()]

    Pos              Team  Seasons  ...  Since/LastApp BestPosition Diff
13   14  Racing Santander       44  ...        2011-12            2 -525

[1 rows x 21 columns]

In [0]:
laliga['GamesWon'] = pd.to_numeric(laliga['GamesWon'])
laliga['GamesPlayed'] = pd.to_numeric(laliga['GamesPlayed'])

In [0]:

# Seperate column created for Winning Percentage in the same data frame
laliga['Winning Percent']=(laliga.GamesWon/laliga.GamesPlayed)*100

In [17]:
# replacing numeric errors with 0
laliga['Winning Percent']=laliga['Winning Percent'].replace(np.nan,0)
laliga

    Pos                 Team  Seasons  ...  BestPosition  Diff  Winning Percent
0     1          Real Madrid       86  ...             1  2807        59.630702
1     2            Barcelona       86  ...             1  2786        57.241130
2     3      Atletico Madrid       80  ...             1  1225        47.475134
3     4             Valencia       82  ...             1   929        44.557057
4     5      Athletic Bilbao       86  ...             1   931        43.772629
5     6              Sevilla       73  ...             1   307        41.112957
6     7             Espanyol       82  ...             3  -280        36.100533
7     8        Real Sociedad       70  ...             1    -2        37.532580
8     9             Zaragoza       58  ...             2  -164        35.146022
9    10           Real Betis       51  ...             1  -333        35.069444
10   11  Deportivo La Coruna       45  ...             1  -136        36.797386
11   12           Celta Vigo       51  ...             4  -346        34.511190
12   13           Valladolid       42  ...             4  -413        31.582538
13   14     Racing Santander       44  ...             2  -525        31.722689
14   15       Sporting Gijon       43  ...             2  -399        32.304527
15   16              Osasuna       37  ...             4  -334        32.321700
16   17               Malaga       36  ...             4  -342        31.075697
17   18               Oviedo       38  ...             3  -309        34.228188
18   19             Mallorca       27  ...             3  -189        33.704453
19   20           Las Palmas       33  ...             2  -399        33.485401
20   21           Villarreal       17  ...             2   103        41.176471
21   22              Granada       23  ...             6  -338        29.380054
22   23       Rayo Vallecano       17  ...             8  -328        28.987730
23   24                Elche       21  ...             5  -272        29.941003
24   25               Getafe       12  ...             6  -113        32.236842
25   26             Hercules       20  ...             5  -334        29.299363
26   27             Tenerife       13  ...             5  -125        31.376518
27   28               Murcia       18  ...            11  -385        24.744027
28   29               Alaves       12  ...             6  -165        32.894737
29   30              Levante       11  ...             6  -202        28.109453
..  ...                  ...      ...  ...           ...   ...              ...
31   32             Sabadell       14  ...             4  -228        30.281690
32   33                Cadiz       12  ...            12  -269        23.214286
33   34             Logrones        9  ...             7  -198        27.745665
34   35            Castellon       11  ...             4  -169        30.838323
35   36             Albacete        7  ...             7   -90        28.148148
36   37              Almeria        6  ...             8  -122        27.192982
37   38              Cordoba        9  ...             5  -145        29.078014
38   39           Compostela        4  ...            10   -42        32.500000
39   40           Recreativo        5  ...             8   -94        26.881720
40   41            Burgos CF        6  ...            12   -94        28.921569
41   42           Pontevedra        6  ...             7   -56        29.444444
42   43             Numancia        4  ...            17   -98        24.342105
43   44                Eibar        3  ...            10   -28        30.701754
44   45               Arenas        7  ...             3   -81        33.076923
45   46          Real Burgos        3  ...             9   -38        22.807018
46   47            Gimnastic        4  ...             7  -114        29.310345
47   48          Extremadura        2  ...            17   -55        25.000000
48   49               Merida        2  ...            19   -45        23.750000
49   50             Alcoyano        4  ...            10  -107        27.777778
50   51                 Jaen        3  ...            14   -62        32.222222
51   52           Real Union        4  ...             6   -31        29.166667
52   53           AD Almeria        2  ...            10   -45        25.000000
53   54               Europa        3  ...             8   -34        33.333333
54   55               Lleida        2  ...            16  -112        19.117647
55   56              Leganes        1  ...            17   -19        21.052632
56   57                Xerez        1  ...            20   -28        21.052632
57   58               Condal        1  ...            16   -20        23.333333
58   59      Atletico Tetuan        1  ...            16   -34        23.333333
59   60     Cultural Leonesa        1  ...            15   -31        16.666667
60   61               Girona        1  ...             9     0         0.000000

[61 rows x 22 columns]

In [18]:
# Displaying Top 5 teams in order of their winning percentage
laliga.nlargest(5,['Winning Percent'])

   Pos             Team  Seasons  ...  BestPosition  Diff  Winning Percent
0    1      Real Madrid       86  ...             1  2807        59.630702
1    2        Barcelona       86  ...             1  2786        57.241130
2    3  Atletico Madrid       80  ...             1  1225        47.475134
3    4         Valencia       82  ...             1   929        44.557057
4    5  Athletic Bilbao       86  ...             1   931        43.772629

[5 rows x 22 columns]

In [19]:
# Grouped them on the basis of Best Position
laliga2=laliga.groupby('BestPosition',as_index=False).sum()

#Display only Best position and points(sum of grouped by)
laliga2.loc[:,['BestPosition','Points']]

    BestPosition  Points
0              1   27933
1              2    6904
2              3    5221
3              4    6563
4              5    1884
5              6    2113
6              7    1186
7              8    1134
8              9      96
9             10     450
10            11     445
11            12     511
12            14      71
13            15      14
14            16      81
15            17     266
16            19      81
17            20      34