In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os
import numpy as np  
import pandas as pd

In [3]:
amz_data = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Project8_RS/ratings_Electronics.csv"
,header=None, names=['userId','productId','ratings', 'timestamp'],index_col=None)  
amz_data.head()

           userId   productId  ratings   timestamp
0   AKM1MP6P0OYPR  0132793040      5.0  1365811200
1  A2CX7LUOHB2NDG  0321732944      5.0  1341100800
2  A2NWSAGRHCP8N5  0439886341      1.0  1367193600
3  A2WNBOD3WNDNKT  0439886341      3.0  1374451200
4  A1GI0U4ZRJA8WN  0439886341      1.0  1334707200

In [16]:
cd /content/drive/My\ Drive/Colab\ Notebooks/Project8_RS/

/content/drive/My Drive/Colab Notebooks/Project8_RS

In [17]:
import Recommenders as Recommenders
import Evaluation as Evaluation
amz_data.drop('timestamp', inplace=True, axis=1)
amz_data.head()

           userId   productId  ratings
0   AKM1MP6P0OYPR  0132793040      5.0
1  A2CX7LUOHB2NDG  0321732944      5.0
2  A2NWSAGRHCP8N5  0439886341      1.0
3  A2WNBOD3WNDNKT  0439886341      3.0
4  A1GI0U4ZRJA8WN  0439886341      1.0

In [18]:
amz_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824482 entries, 0 to 7824481
Data columns (total 3 columns):
userId       object
productId    object
ratings      float64
dtypes: float64(1), object(2)
memory usage: 179.1+ MB

In [0]:
amz_data_grouped=amz_data.groupby(['userId']).agg({'ratings':'count'}).reset_index()

In [20]:
amz_data_grouped.head()

                  userId  ratings
0  A00000262KYZUE4J55XGL        1
1  A000063614T1OE0BUSKUT        2
2  A00009182QVLSWIGHLS1B        1
3  A00009661LC9LQPGKJ24G        1
4   A00010809P09NUU6ZP6H        1

In [0]:
amz_data_grouped=amz_data_grouped.sort_values(['ratings','userId'], ascending=[0,1])

In [0]:
amz_data_grouped2 = amz_data_grouped[amz_data_grouped['ratings']>50]

In [23]:
amz_data_grouped2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1466 entries, 3263531 to 4154427
Data columns (total 2 columns):
userId     1466 non-null object
ratings    1466 non-null int64
dtypes: int64(1), object(1)
memory usage: 34.4+ KB

In [24]:
amz_data_grouped2.describe()

           ratings
count  1466.000000
mean     83.336289
std      46.930558
min      51.000000
25%      57.000000
50%      68.000000
75%      91.000000
max     520.000000

In [0]:
amz_data2=amz_data[~amz_data['userId'].isin(amz_data_grouped2['userId'])]

In [26]:
amz_data2.head()

           userId   productId  ratings
0   AKM1MP6P0OYPR  0132793040      5.0
1  A2CX7LUOHB2NDG  0321732944      5.0
2  A2NWSAGRHCP8N5  0439886341      1.0
3  A2WNBOD3WNDNKT  0439886341      3.0
4  A1GI0U4ZRJA8WN  0439886341      1.0

In [0]:
amz_data3=amz_data2.head(10000)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(amz_data3, test_size=.30, random_state=42)

In [0]:
pm=Recommenders.popularity_recommender_py()

In [0]:
pm.create(X_train,'userId','productId')

In [0]:
users=amz_data3['userId'].unique()

In [34]:
pm.recommend(users[11])

              userId   productId  score  Rank
35    A1DA3W4GTFXP6O  0972683275    719   1.0
56    A1DA3W4GTFXP6O  1400532655    336   2.0
57    A1DA3W4GTFXP6O  140053271X    311   3.0
985   A1DA3W4GTFXP6O  B00000DM9W    222   4.0
1010  A1DA3W4GTFXP6O  B00000J061    178   5.0
49    A1DA3W4GTFXP6O  1400501466    164   6.0
245   A1DA3W4GTFXP6O  9573212919    139   7.0
59    A1DA3W4GTFXP6O  1400599997    134   8.0
55    A1DA3W4GTFXP6O  1400532620    130   9.0
976   A1DA3W4GTFXP6O  B000001ON6    128  10.0

In [35]:
pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 4.7MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.14.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.17.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.3.2)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1678226 sha256=52841ea1c13b3ceba92b065bc73382dc5d4972d9d5ec6bb2dbf1f53f89c9d756
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.0 surprise-0.1

In [0]:
from surprise import KNNWithMeans
from surprise import accuracy
from surprise import Reader, Dataset

In [0]:
reader = Reader(line_format='user item rating', rating_scale=(1, 5))

In [0]:
data = Dataset.load_from_df(amz_data3, reader=reader)

In [0]:
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=.25,random_state=123)

In [45]:
algo = KNNWithMeans(k=5, sim_options={'name': 'pearson', 'user_based': False})
algo.fit(trainset)

Computing the pearson similarity matrix...
Done computing similarity matrix.

In [46]:
# Evalute on test set
test_pred = algo.test(testset)

# compute RMSE
accuracy.rmse(test_pred)

RMSE: 1.4535

1.4535354358764363

In [0]:
predictions_df = pd.DataFrame([[x.uid,x.est] for x in test_pred])

In [0]:
predictions_df.columns = ["userId","est_rating"]
predictions_df.sort_values(by = ["userId", "est_rating"],ascending=False,inplace=True)

In [0]:
#algo.predict(users[11])
top_10_recos = predictions_df.groupby("userId").head(10).reset_index(drop=True)

In [53]:
top_10_recos.head()

          userId  est_rating
0  AZX0ZDVAFMN78    3.916267
1  AZTYUD0UXIJI0    3.916267
2  AZSZOO6PQKG6Z    3.916267
3  AZRPGTU8A7KD5    3.916267
4  AZQZ3STMCBG5H    3.916267